<br />
<p>
    <button class="btn btn-xs" ng-click="back()" ng-disabled="buttonsDisabled">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Crew Lists
    </button>
</p>
<h2>Crew List: {{crewType.Name}}</h2>
<p>
    <button type="button" class="btn btn-danger" ng-click="confirmDelete()" ng-disabled="buttonsDisabled">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
    </button>
</p>
<form>
    <table>
        <tr class="form-group">
            <td><label for="inputDescription">Name</label></td>
            <td><input type="text" class="form-control" id="inputName" placeholder="Crew Type Name" ng-disabled="buttonsDisabled" ng-model="crewType.Name"></td>
</tr>
        <tr class="form-group">
            <td><label for="inputDescription">Description</label></td>
            <td>
                <textarea type="text" ng-model="crewType.Description" cols="100" rows="5"></textarea>
            <!--<input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-disabled="buttonsDisabled" ng-model="crewType.Description">-->
            </td>
</tr>
        <tr>
            <td colspan="2">
                <p>
                    <button type="submit" class="btn btn-success" ng-click="update(crewType)" ng-disabled="buttonsDisabled">Save</button>
                </p>
            </td>
        </tr>
    </table>
</form>