<br />
<p>
    <button class="btn btn-xs" ng-click="back()" ng-disabled="buttonsDisabled">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Crews
    </button>
</p>
<h2>New Crew</h2>

<form name="crewcreate">
    <div class="form-group">
        <label for="inputDescription">Name</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Crew Name" ng-disabled="buttonsDisabled" ng-model="crew.Name">
    </div>
    <div>
        <div class="panel-title"><b>Crew members</b></div>
        <table class="table table-striped">

            <tr>
                <th>Name</th>
                <th>Crew Leader</th>
            </tr>
            <tr ng-repeat="employee in employees">
                <td>
                    <input type="checkbox" ng-model="employee.checked" ng-disabled="buttonsDisabled" />
                    <a ng-href="#/employees/{{employee.Id}}">{{employee.FirstName +" "+employee.LastName }}</a>
                </td>
                <td>
                    <input type="checkbox" ng-model="employee.IsCrewLeader" ng-disabled="buttonsDisabled" />

                </td>
            </tr>
        </table>
    </div>
    <p>
        <button type="submit" class="btn btn-success" ng-click="save(crew)" ng-disabled="buttonsDisabled">Create</button>
    </p>
</form>