<br />
<p>
    <button class="btn btn-xs" ng-click="back()" ng-disabled="buttonsDisabled">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Crew Types
    </button>
</p>
<h2>Crew Type: {{crewType.Name}}</h2>
<p>
    <button type="button" class="btn btn-danger" ng-click="confirmDelete()" ng-disabled="buttonsDisabled">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
    </button>
</p>
<form>
    <div class="form-group">
        <label for="inputDescription">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Crew Type Name" ng-disabled="buttonsDisabled" ng-model="crewType.Name">
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Description" ng-disabled="buttonsDisabled" ng-model="crewType.Description">
    </div>
    <p>
        <button type="submit" class="btn btn-success" ng-click="update(crewType)" ng-disabled="buttonsDisabled">Save</button>
    </p>
</form>