<h2>Customers</h2>
<p>
    <button type="button" class="btn btn-primary" ng-click="newCustomer()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Customer
    </button>
</p>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Requires Access</th>
        <th>Details</th>
    </tr>
    <tr ng-repeat="customer in customers">
        <td><a ng-href="#/customer/{{customer.Id}}">{{customer.FirstName}} {{customer.LastName}}</a></td>
        <td>{{customer.RequiresAccess ? 'Yes' : 'No'}}</td>
        <td>{{customer.AccessDetails}}</td>
    </tr>
</table>
