<h2>Employees</h2>
<p>
    <button type="button" class="btn btn-primary" ng-click="newEmployee()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Employee
    </button>
</p>
<br/>
<br />
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>In Crew</th>
    </tr>
    <tr ng-repeat="employee in employees">
        <td><a ng-href="#/employees/{{employee.Id}}">{{formatName(employee)}}</a></td>
        <td>{{employee.InCrew ? 'Yes' : 'No'}}</td>
    </tr>
</table>
