<h2>Events</h2>
<br />
<form>
  <div>
      <div id="grid"></div>
    </div>
    <!--<div>
        <table>
            <tr class="form-group">
                <td><label for="actualstartdate">Actual Start Time  </label></td>
                <td><input type="text" class="form-control" id="datetimepickerstart" placeholder="actualstartdate" ng-model="eventSchedule.ActualStartTime" data-date-format="dd/mm/yyyy" date-type="string"></td>
            </tr>
            <tr><td colspan="2" style="height:8px"></td></tr>
            <tr class="form-group">
                <td><label for="actualenddate">Actual End Time  </label></td>
                <td><input type="text" class="form-control" id="datetimepickerend" placeholder="actualenddate" ng-model="eventSchedule.ActualEndTime" data-date-format="dd/mm/yyyy" date-type="string"></td>
            </tr>
            <tr><td colspan="2" style="height:8px"></td></tr>
            <tr class="form-group">
                <td><label for="inputNote">Notes    </label></td>
                <td><textarea type="text" ng-model="$parent.propertyTaskEventNote.Notes" cols="100" rows="5"></textarea></td>
            </tr>
            <tr><td colspan="2" style="height:8px"></td></tr>
            <tr class="form-group">
                <td><label for="inputReview">Review Status  </label></td>
                <td>
                    <select my-entity-set="Enums?type=ReviewStatusEnum" id="reviewStatusEnumSelect"
                            ng-model="propertyTaskEventNote.ReviewStatus">
                        <option value="" class="">Select</option>
                        <option value="1">New</option>
                        <option value="2">InReview</option>
                        <option value="66">Reviewed</option>
                        <option value="66">Closed</option>
                    </select>
                </td>
            </tr>
            <tr><td colspan="2" style="height:8px"></td></tr>
            <tr>
                <td colspan="2">
                    <p>
                        <button type="submit" class="btn btn-success" ng-click="save(propertyTaskEventNote)" ng-disabled="buttonsDisabled">Create</button>
                    </p>
                </td>
            </tr>
        </table>
    </div>-->
</form>
    <!--<table class="table table-striped">
        <tr>
            <th>Notes</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr ng-repeat="propertyTaskEventNote in propertyTaskEventNotes">
           
            <td>{{propertyTaskEventNote.Notes}}</td>
            <td>{{propertyTaskEventNote.ReviewStatus}}</td>
            <td>
            <a ng-href="#/eventnotesdetail/{{propertyTaskEventNote.Id}}">update</a></td>
        </tr>
    </table>-->

