<h2>Properties</h2>
<p>
    <button type="button" class="btn btn-primary" ng-click="newProperty()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Property
    </button>
</p>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter" ng-model="filterText">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Reference Number</th>
        <th>Customer since</th>
    </tr>
    <tr ng-repeat="property in properties  | filter:filterText">
        <td><a ng-href="#/properties/{{property.Id}}">{{property.Name}}</a></td>
        <td>{{property.Address1}}</td>
        <td>{{property.City}}</td>
        <td>{{property.State}}</td>
        <td>{{property.PropertyRefNumber}}</td>
        <td >{{property.ContractDate|date:'mediumDate'}}</td>
    </tr>
</table>
