<br />
<p>
    <button class="btn btn-xs" ng-click="back()" ng-disabled="buttonsDisabled">
        <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;&nbsp;Properties
    </button>
</p>
<h2>{{property.Name}} Details</h2>

<table class="table table-bordered" style="width:auto">
    <tr>
        <td>Property Type</td>
        <td><!--{{property.PropertyType}}-->
            <select my-entity-set="Enums?type=PropertyType" id="propertytypeSelect"
                    ng-model="property.PropertyType" ng-readonly="true;" disabled="true">
                <option value="" class="">Select</option>
                <option value="1">Prospect</option>
                <option value="2">Active</option>
                <option value="3">Closed</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{property.Name}}</td>
    </tr>
    <tr>
        <td>Address 1</td>
        <td>{{property.Address1}}</td>
    </tr>
    <tr>
        <td>Address 2</td>
        <td>{{property.Address2}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{property.City}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{property.State}}</td>
    </tr>
    <tr>
        <td>Zip</td>
        <td>{{property.Zip}}</td>
    </tr>
    <tr>
        <td>Reference Number</td>
        <td>{{property.PropertyRefNumber}}</td>
    </tr>
    <tr>
        <td>Customer since</td>
        <td>{{property.ContractDate|date:'mediumDate'}}</td>
    </tr>
    <tr>
        <td>Number Of Free Services</td>
        <td>{{property.NumberOfFreeServiceCalls}}</td>
    </tr>
    <tr>
        <td>Remaining Free Services</td>
        <td>{{property.NumberOfFreeServiceCalls}}</td>
    </tr>
</table>
<p>
    <button type="button" class="btn btn-danger" ng-click="confirmDelete()" ng-disabled="buttonsDisabled">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
    </button>
</p>
<hr/>

<h3>Property Tasks</h3>

<p>
    <button type="button" class="btn btn-primary" ng-click="newTask()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Task
    </button>
    <button type="button" class="btn btn-primary" ng-click="newEventTaskList()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Create Event Task List
    </button><br/><br/>
    <button type="button" class="btn btn-primary" ng-click="assignTasks()">
        Assign Tasks to Event Task List
    </button>
    <select ng-options="eventTaskList.Id as eventTaskList.Name for eventTaskList in eventTaskLists" ng-model="eventTaskListId">
    </select>
</p>

<div ng-repeat="(key, val) in tasks | groupBy: 'ScheduleName'">
    <h4>{{key ? key : 'Not Allocated'}}</h4>
    <table class="table table-striped">
        <tr>
            <th><sortby neworder="'Location'" oldorder="liSortByField" reverse="itemReverse">Location</sortby></th>
            <th>Task</th>
            <th><sortby neworder="'Crew.Name'" oldorder="liSortByField" reverse="itemReverse">Crew</sortby></th>
            <th><sortby neworder="'ScheduleName'" oldorder="liSortByField" reverse="itemReverse">Event Task List</sortby></th>
            <th></th>
        </tr>
        <tr ng-repeat="task in val | orderBy: liSortByField: itemReverse">
            <td><input type="checkbox" ng-model="task.selected"/>{{task.Location}}</td>
            <td>{{task.Description}}</td>
            <!--<td ng-if="task.Crews.length <= 0"><a ng-href="#/properties/{{property.Id}}/tasks/{{task.Id}}/crew">Assign Task to Crew</a></td>-->
            <td>
                <a ng-href="#/properties/{{property.Id}}/tasks/{{task.Id}}/crew">
                    {{task.Crew.Name}}
                </a>
            </td>
            <td><a ng-href="#/properties/{{property.Id}}/schedule/{{task.EventTaskListId}}">{{task.ScheduleName}}</a></td>
            <td><a ng-href="#/properties/{{property.Id}}/tasklists/{{property.TaskListId}}/tasks/{{task.Id}}">Edit Task</a> | <a ng-click="deleteTask(task.id)">Delete Task</a></td>
        </tr>
    </table>
</div>
<!--<div>
    <h3 ng-show="crews.length > 0">Property Schedules</h3>
    <div id="EventScheduler">
        <div id="scheduler"></div>
    </div>
</div>-->
