<br />
<h2>Task Templates</h2>
<form>
    <table class="table table-striped">
        <tr>
            <th>Task</th>
        </tr>
        <tr ng-repeat="task in tasks | orderBy: 'DisplayOrder'">
            <td>
                <input type="checkbox" ng-model="task.checked" ng-disabled="buttonsDisabled"/>
                <a href="#/tasktemplates/{{task.Id}}">{{task.Description}}</a>
            </td>
            <td><a ng-click="moveUp(task)"><span class="glyphicon glyphicon-arrow-up"></span></a></td>
            <td><a ng-click="moveDown(task)"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
            <td><a href="#/tasktemplates/{{task.Id}}">edit</a></td>
            <td><a ng-click="confirmDeleteTask(task)">delete</a></td>
        </tr>
    </table>
    <a class="btn btn-success" ng-href="#/tasktemplates/new" ng-disabled="buttonsDisabled">Create new Task</a>
</form>