<div class="container">
    <div class="col-md-6">
        <h2>Task List Types</h2>
        <p>
            <button type="button" class="btn btn-primary" ng-click="newTaskListType()">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Task List Type
            </button>
        </p>
        <table class="table table-striped">
            <tr>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="taskListType in taskListTypes">
                <td><a ng-href="#/types/tasklists/{{taskListType.Id}}">{{taskListType.Name}}</a></td>
                <td>{{taskListType.Description}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Crew Types</h2>
        <p>
            <button type="button" class="btn btn-primary" ng-click="newCrewType()">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Crew Type
            </button>
        </p>
        <table class="table table-striped">
            <tr>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="crewType in crewTypes">
                <td><a ng-href="#/types/crews/{{crewType.Id}}">{{crewType.Name}}</a></td>
                <td>{{crewType.Description}}</td>
            </tr>
        </table>
    </div>
</div>