<h3>Work Carried Out During Visit</h3>
<table class="table table-striped">
    <tr>
        <th class="col-md-3">Task</th>
        <th class="col-md-3">Location</th>
        <th class="col-md-2">Product Used</th>
        <th class="col-md-1 text-center">Quantity Used</th>
        <th class="col-md-1">Pest - target/prevention</th>
        <th class="col-md-2">&nbsp;</th>
    </tr>
    <tr ng-repeat="task in serviceTicket.Fields.Tasks">

        <td>{{task.Name}}</td>
        <td>{{task.Location}}</td>
        <td>{{task.ProductUsed}}</td>
        <td class="text-right">{{task.QuantityUsed}}</td>
        <td>{{task.Prevention}}</td>
        <td>
            <a ng-click="removeItem(serviceTicket.Fields.Tasks, task)" class="btn pull-right"><span class="glyphicon glyphicon-trash"></span></a>
            <a ng-click="selectItem(task)" class="btn pull-right" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
    </tr>
</table>

<button ng-click="addItem(serviceTicket.Fields.Tasks, serviceTicket.Fields.DefaultTask)" data-toggle="modal" data-target="#modal" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Task</button>
<br />
<br />
<div id="modal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Task</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="name">Task</label>
                    <input id="name" type="text" autocomplete="off" class="form-control" ng-model="Item.Name" required>
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input id="location" type="text" autocomplete="off" class="form-control" ng-model="Item.Location" required>
                </div>

                <div class="form-group">
                    <label for="productUsed">Product Used</label>
                    <input id="productUsed" type="text" autocomplete="off" class="form-control" ng-model="Item.ProductUsed" required>
                </div>

                <div class="form-group">
                    <label for="quantityUsed">Quantity Used</label>
                    <input id="quantityUsed" type="number" class="form-control" ng-model="Item.QuantityUsed" required>
                </div>

                <div class="form-group">
                    <label for="prevention">Pest - target/prevention</label>
                    <input id="prevention" type="text" autocomplete="off" class="form-control" ng-model="Item.Prevention" required>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="modalForm$invalid">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="treatment">Blanket or Spot Treatment?</label>
    <select id="treatment" class="form-control" ng-model="serviceTicket.Fields.Treatment">
        <option value="">- Select Treatment -</option>
        <option>Blanket</option>
        <option>Spot</option>
    </select>
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="serviceTicket.Fields.ZSprayer">
        Z Sprayer
    </label>
</div>

<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="serviceTicket.Fields.Hosereel">
        Hosereel
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="serviceTicket.Fields.Backpack">
        Backpack
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="serviceTicket.Fields.GranularSpreader">
        Granular Spreader
    </label>
</div>


<div class="form-group">
    <label for="wasComplete">Were all the tasks on the task list completed - Yes or no?</label>
    <select id="wasComplete" class="form-control" ng-model="serviceTicket.Fields.WasComplete">
        <option value="">- Select Y/N -</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
    </select>
</div>

<div class="form-group" ng-show="serviceTicket.Fields.WasComplete == 'N'">
    <label for="why">Why not?</label>
    <input id="why" type="text" autocomplete="off" class="form-control" ng-model="serviceTicket.Fields.NotCompleteReason">
</div>

<h3>Retreatement</h3>
<div class="form-group">
    <label for="retreatementNecessary">Retreatement Necessary - Yes or no?</label>
    <select id="retreatementNecessary" class="form-control" ng-model="serviceTicket.Fields.RetreatementNecessary">
        <option value="">- Select Y/N -</option>
        <option value="Y">Yes</option>
        <option value="N">No</option>
    </select>
</div>

<div class="form-group" ng-show="serviceTicket.Fields.RetreatementNecessary == 'Y'">
    <label for="retreatmentWhen">When?</label>
    <input id="retreatmentWhen" type="text" class="form-control" ng-model="serviceTicket.Fields.RetreatmentWhen">
</div>

<div class="form-group" ng-show="serviceTicket.Fields.RetreatementNecessary == 'Y'">
    <label for="retreatmentWhy">Why?</label>
    <input id="retreatmentWhy" type="text" autocomplete="off" class="form-control" ng-model="serviceTicket.Fields.RetreatmentWhy">
</div>