<div class="form-group">
    <label for="what-happened">What Happened at the Visit?</label>
    <textarea id="what-happened" class="form-control" rows="2" ng-model="serviceTicket.Fields.WhatHappened"></textarea>
</div>

<div class="form-group">
    <label for="proposal">Proposal Made by Greenscapes Expert</label>
    <textarea id="proposal" class="form-control" rows="2" ng-model="serviceTicket.Fields.Proposal"></textarea>
</div>

<div class="form-group">
    <label for="action">Action To Be Taken and by Whom?</label>
    <textarea id="action" class="form-control" rows="2" ng-model="serviceTicket.Fields.Action"></textarea>
</div>