<br />
<h2>{{serviceTicket.TemplateName}}</h2>

<p>
    {{serviceTicket.PropertyName}}<br />
    {{serviceTicket.Address1}}
    {{serviceTicket.Address2}}<br />
    {{serviceTicket.City}}, {{serviceTicket.State}} {{serviceTicket.Zip}}
</p>
<p>
    Customer: {{serviceTicket.CustomerName}}<br />
    Access Details: {{serviceTicket.AccessDetails}}
</p>
<form role="form" novalidate>

    <div class="form-group">
        <label for="referenceNumber">AS/SB/RM No</label>
        <input id="referenceNumber" type="text" class="form-control" autocomplete="off" placeholder="Reference Number" ng-disabled="buttonsDisabled" ng-model="serviceTicket.ReferenceNumber">
    </div>

    <div class="form-group">
        <label for="visit-date">Date of Visit</label>
        <input id="visit-date" type="date" class="form-control" ng-model="serviceTicket.FromTime" ng-disabled="buttonsDisabled">
    </div>

    <div class="form-group">
        <label for="fromTime">From Time</label>
        <input id="fromTime" type="time" class="form-control" ng-model="serviceTicket.FromTime" ng-disabled="buttonsDisabled">
    </div>

    <div class="form-group">
        <label for="toTime">To Time</label>
        <input id="toTime" type="time" class="form-control" ng-model="serviceTicket.ToTime" ng-disabled="buttonsDisabled">
    </div>

    <label for="toTime">GS Staff </label>
    <i>
        <input type="radio" name="employee" ng-model="serviceTicket.ShowAllEmployees" ng-value="false"> Crew
        <input type="radio" name="employee" ng-model="serviceTicket.ShowAllEmployees" ng-value="true"> All<br>
    </i>

    <div class="checkbox" ng-repeat="employee in serviceTicket.Members | filter: showEmployee">
        <label>
            <input type="checkbox" ng-model="employee.Selected">
            {{employee.FirstName}} {{employee.LastName}}
        </label>
    </div>

    <div ng-if="!serviceTicket.TemplateUseTasks" ng-include="serviceTicket.TemplateUrl"></div>

    <table ng-if="serviceTicket.TemplateUseTasks" class="table table-striped">
        <tr>
            <th class="col-md-4">Description</th>
            <th class="col-md-4 text-center">Location</th>
            <th class="col-md-4 text-center">Completed</th>
        </tr>
        <tr ng-repeat="task in serviceTicket.Fields.Tasks">

            <td>{{task.Description}}</td>
            <td>{{task.Location}}</td>
            <td class="text-center">
                <input type="checkbox" ng-model="task.Completed">
            </td>
        </tr>
    </table>

    <div class="form-group">
        <label for="notes">Notes</label>
        <p class="help-block">
            (including any conversations with the customers and any problems observed)
        </p>
        <textarea id="notes" class="form-control" rows="10" ng-disabled="buttonsDisabled" ng-model="serviceTicket.Notes"></textarea>
    </div>

    <div class="form-group">
        <label for="condition">Overall Condition of Landscape</label>
        <p class="help-block">
            Rank the overall condition of the landscape on a scale of 0 to 5
            (where 0 is terrible and 5 is perfect) taking into account all aspects of the landscape
        </p>
        <select id="condition" class="form-control" ng-model="serviceTicket.Condition" required>
            <option value=null>- Select Condition -</option>
            <option value=0>0 - terrible</option>
            <option value=1>1 - poor</option>
            <option value=2>2 - okay</option>
            <option value=3>3 - good</option>
            <option value=4>4 - great</option>
            <option value=5>5 - perfect</option>
        </select>
    </div>

    <p>
        <button class="btn btn-success" ng-click="save()" ng-disabled="buttonsDisabled">Save</button>
        <button class="btn btn-success left-margin" ng-click="approve()" ng-show="isApprove" ng-disabled="buttonsDisabled">Approve</button>
    </p>

</form>