<h1>Service Templates</h1>
<p>
    <button type="button" class="btn btn-primary" ng-click="new()">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New Service Template
    </button>
</p>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Use Tasks</th>
        <th>Preview</th>
    </tr>
    <tr ng-repeat="serviceTemplate in serviceTemplates">
        <td><a ng-href="#/servicetemplates/{{serviceTemplate.Id}}">{{serviceTemplate.Name}}</a></td>
        <td>{{serviceTemplate.Url}}</td>
        <td class="text-center">
            <span class="glyphicon glyphicon-ok" ng-show="serviceTemplate.UseTasks">&nbsp;</span>
        </td>
        <td class="text-center">
            <a ng-href="#/servicetickets/{{serviceTemplate.Id}}"><span class="glyphicon glyphicon-search">&nbsp;</span></a>
        </td>
    </tr>
</table>
