<div class="form-group">
    <label for="people-seen">People Seen During Visit</label>
    <p class="help-block">Who did you walk through the property with? (Name and Job Title)</p>
    <textarea id="people-seen" class="form-control" rows="2" ng-model="serviceTicket.Fields.PeopleSeen"></textarea>
</div>

<div class="form-group">
    <label for="area">Areas Visited During Walkthrough</label>
    <textarea id="area" class="form-control" rows="2" ng-model="serviceTicket.Fields.Area"></textarea>
</div>

<div class="form-group">
    <label for="customer-observations">Any Deficiencies Noted by Customer</label>
    <textarea id="customer-observations" class="form-control" rows="2" ng-model="serviceTicket.Fields.CustomerObservations"></textarea>
</div>

<div class="form-group">
    <label for="manager-observations">Any Deficiencies Noted by Operations Manager</label>
    <textarea id="manager-observations" class="form-control" rows="2" ng-model="serviceTicket.Fields.ManagerObservations"></textarea>
</div>

<div class="form-group">
    <label for="compliments">Notes of Any Compliments from Customer</label>
    <textarea id="compliments" class="form-control" rows="2" ng-model="serviceTicket.Fields.Compliments"></textarea>
</div>

<div class="form-group">
    <label for="action">Action To Be Taken and by Whom?</label>
    <textarea id="action" class="form-control" rows="2" ng-model="serviceTicket.Fields.Action"></textarea>
</div>